# Copy this file to .env and fill in your token
DISCORD_TOKEN=Your_Discord_Bot_Token_Here
DB_PATH=Path_Where_the_Database_should_stay, Example: /data/watchlist.db
DEV_GUILD_ID=Your_Development_Guild_ID_Here